
/* My Stuff
========================================================================== */

html, body {
	height: 100%;
}


@font-face {
	font-family: myriad;
	src: url(../fonts/MyriadPro-Cond.otf);
}

@font-face {
	font-family: title;
	src: url(../fonts/basictitlefont.ttf);
}

body {
	background-color: #000;
	color: #ffffff;
	font-family: title;
	font-size: 20px;
	background-image: url(../rsc/home.png);
	background-attachment: fixed;
	background-position: center;
}

a, b {
	/*font-weight: 400;*/
}

a, a:visited {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #333;
}

h1 {
	text-align: center;
}

#navbar {
	position: fixed;
	height: 50px;
	top: 0;
	left: 0;
	right: 0;
	background-color: #ffffff;
	text-align: left;
	color: #000;
	z-index: 10;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-left: -20px;
}
.navbar-nav {
	list-style-type: none;
	display: inline-block;
}

.navbar-nav li {
	display: inline;
	font-size: 26px;
	margin: 0 15px;
}

.navbar-nav .active a{
	color: #746E2D;
}

.social {
	float: right;
}

.social li {
	display: inline;
	background-size: 30px 30px;
	margin: 0 5px;
}

.social li a {
	display: block;
	width: 30px;
	height: 30px;
	color: #f22;
}

.icon-facebook {
	background-image: url(../rsc/facebook.png);
}
.icon-twitter {
	background-image: url(../rsc/twitter.png);
}

.container {
	z-index: 1;
	padding-top: 30px;
}

.logo {

}

.uw {
	color: #E7E525;
	font-family: myriad;
	font-size: 200px;
}

.asme {
	color: #ffffff;
	font-family: title;
	font-size: 180px;
}

.carousel-caption {
	display: table;
	overflow: hidden;
}

.social-box-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.carousel-img {
	display: block;
	position: absolute;
	height: 500px;
	margin: 0 auto;
}

.carousel-caption {
	/*padding-bottom: 100px;*/
	margin: 0 auto;
	height: 400px;

}

.carousel-arrow {
	position: absolute;
	top: 50%;
	z-index: 2;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	font-size: 30px;
	font-weight: bold;
}

.carousel-left {
	margin-left: -15px;

}

.carousel-right {
	right: 50%;
}

.btn {
	border-radius: 10px;
	font-size: 30px;
	border: solid #ffffff 2px;
	text-decoration: none;
	color: #ffffff;
	padding: 10px 40px 5px 40px;
}

a.btn {
	color: #ffffff;
}

.btn:hover {
	color: #aaa;
	border-color: #aaa;
}


.social-box h1 {
	font-size: 24px;
}

.social-box {
	float: left;
	width: 250px;
	padding: 0 10px;
}

.tab {
	min-height: 500px;
	margin-top: 30px;
}

a.no-underline:hover {
	text-decoration: none;
}

#news {
	
	background-color: rgba(255,255,255,0.8);
}

.news-container {
	padding: 5px 10px;
	height: 100%;
}

.news-container h1 {
	color: #000;
}

.news-text, .news-text:hover  {
	color: #ffffff;
	text-decoration: none;
}

.news-item {
	background-color: #000;
	border-radius: 10px;
	margin: 20px 5px;
	padding: 10px;
}

.news-header {
	font-size: 30px;
}

.news-body {
	font-family: myriad;
	font-size: 24px;
	padding: 5px 0;
}

#team {
	background-image: url('../rsc/home.png');
	background-size: cover;
}

.clear-background {
	background-color: transparent !important;
}

.profile-container {
	display: inline-block;
}

.profile {
	float: left;
	padding: 5px 10px;
}

.profile-pic {
	width: 200px;
	height: 200px;
	line-height: 200px;
	background-color: #ffffff;
	border-radius: 5px;
	text-align: center;
	position: relative;
}

.profile-pic span {
	z-index: 2;
	position: absolute;
	background-color: rgba(255,255,255,0.4);
	left: 10px;
	top: 150px;
}

.profile-img {
	max-width: 200px;
	max-height: 200px;
	position: absolute;
	left: 0;
}

.profile-name {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	color: #000;
	font-size: 26px;
}

.profile-desc {
	overflow: auto;
	border-radius: 5px;
	border: 2px solid #ffffff;
	padding: 5px;
	margin-top: 20px;
	height: 80px;
	width: 200px;
	text-align: center;
}

#sponsors {
	background-color: #000;
}

.sponsor-info {
	padding: 20px;
	overflow: auto;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.sponsor-img {
	max-height: 300px;
	max-width: 100%;
}

.sponsor-item {
	width: 50%;
	float: left;
	padding: 10px 20px;
	display: inline-block;
}

.sponsor-blurb {
	margin-top: 20px;
	height: 350px;
	font-size: 20px;
	border: 2px solid #ffffff;
	border-radius: 5px;
}

.sponsor-social {
	width: 100%;
	height: 50px;
	border-radius: 5px;
	border: 2px solid #ffffff;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	padding-top: 10px;
	margin-top: 20px;
}

.btn-submit{
	color: #000;
	border-color: #000;
}